[submodule "prox"]
	path = prox
	url = https://github.com/SimonLarsen/prox.git
[submodule "HC"]
	path = HC
	url = https://github.com/vrld/HC.git
[submodule "cpml"]
	path = cpml
	url = https://github.com/excessive/cpml.git
[submodule "lua-obj-reader"]
	path = lua-obj-reader
	url = https://github.com/SimonLarsen/lua-obj-reader.git
