[submodule "prox"]
	path = prox
	url = https://github.com/SimonLarsen/prox.git
[submodule "HC"]
	path = HC
	url = https://github.com/vrld/HC.git
[submodule "cpml"]
	path = cpml
	url = https://github.com/excessive/cpml.git
[submodule "lua-obj"]
	path = lua-obj
	url = https://github.com/karai17/lua-obj.git
